<div>
    <form
            action=""
            method="POST"
            class="form"
    >
        <fieldset class="form__fieldset">
            <legend class="form__legend">
                {{legendText}}
            </legend>

            {{#if fields}}
                {{{fields}}}
            {{/if}}

            {{#if profileFields}}
                <ul class="profile__list">
                    {{{profileFields}}}
                </ul>
            {{/if}}

        </fieldset>

        {{{buttons}}}

    </form>
    {{{links}}}
</div>