<li class="profile__list-item">
    <label class="profile-field">
        {{label}}
        <input
                name="{{name}}"
                value="{{value}}"
                type="{{type}}"
                class="profile-field__input"
        >
    </label>
    <span class="field__error">
      {{error}}
    </span>
</li>