<div class="form__group field">
    <input type="{{field.type}}" class="form__field" placeholder="{{field.placeholder}}" name="{{field.name}}" required />
    <label for="{{field.name}}" class="form__label">{{field.name}}</label>
</div>