<div class="form__field-wrapper field">
  <input
    type="{{field.type}}"
    class="form__field"
    placeholder="{{field.placeholder}}"
    name="{{field.name}}"
    required
  />
  <span class="field__error">
    {{field.error}}
  </span>
  <label for="{{field.name}}" class="form__label">{{field.name}}</label>
</div>