<div class="form__field-wrapper field">
  <input
    type="{{type}}"
    id="{{name}}"
    class="form__field"
    placeholder="{{placeholder}}"
    required
  />
  <span class="field__error">
    {{error}}
  </span>
  <label for="{{name}}" class="form__label">{{label}}</label>
</div>